# Python & Virtual Environments
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# IDEs & System Files
.vscode/
.idea/
.DS_Store

# Temporary & Dataflow Build Artifacts
*.tar.gz
*.tgz
*.log
*.egg-info/
build/
dist/

# Sensitive Credentials & Keys
*.json
!pipeline/metadata.json
!monitoring/dashboard.json
!scripts/gcs_to_bq_template.json
*.pem
*.key
